#enable_keyboard{float: right; width:195px;}
#enable_keyboard p{font-size: 1.2em; font-weight: bold; margin: 10px 0 5px 0; color: white;}
#wrapper{width: 700px;}
#main_menu div{width: 660px;}
#main_menu #main_menu_next{left: 685px;}
.med, .sml{width: 100%; float: none;}
.sml .sf_admin_form_row{float: left; width: 25%; clear: none !important;}
.sml input.btn{clear: both;}