/* LOGIN */
#loginheader 
{background:url('../images/logoELS_header.gif') no-repeat 50% 10px !important;
height:110px;padding:30px 0 0 0;margin: 0 auto !important; }
#loginheader img{display:none;}
#logincontainer {
  margin: 0 auto !important;
  padding-top: 30px !important;
}
#logincontainer .loginbtn , .btn  
{ background: url("../images/bg_login_btn.png") repeat-x scroll center top #e6001b ;
border-top: 1px solid #FFA3A3;text-shadow: 1px 1px 1px #FFA3A3;color:#5C1614;}
.btn  {border-color:#910F0F !important;}
#logincontainer .loginbtn:hover, .btn:hover  
{background: url("../images/bg_login_btn.png") repeat scroll 0 -60px #3197CA;
color: #103141;cursor: pointer;}		

#logincontainer #enable_keyboard{float: none; width: 100%; text-align: center; padding: 0 0 10px; border-bottom: 1px solid #424242;}
#logincontainer #enable_keyboard p, #logincontainer #enable_keyboard .switch{float: none;}
#logincontainer #enable_keyboard .switch{width: 175px; margin: 0 auto;}

		
/* HEADER */	
#header>a>img{display:none;}		
#header>a
{display:block;float:left;width:97px;height:60px;margin: 7px 7px 0 11px;
background: url("../images/logoELS_header2.gif") no-repeat scroll left top;}
#header .user>a>img{display:none;}
#header .user{float:right;width:159px;}

#enable_keyboard{float: right; width: 250px; padding-top: 20px;}
#enable_keyboard p{font-size: 1.2em; font-weight: bold; margin: 5px 10px; color: white; float: left;}
#enable_keyboard .switch{float: left;}


/* ELEMENTS DIVERS */
select{padding:1px 2px;}
#container label {display: inline;}
body{ background: url("../images/bg_login_page.png") repeat-x scroll center top #E5E5E5;}
.contentbox div.sf_admin_form_row {margin:0 0 10px 0;}
.sml .sf_admin_form_row {width:636px;}
.med, .sml{width: 100%; float: none;}
.sml{width:668px;margin:0 0 15px 0;}
.sml .headings{display: none;}
.sml .contentbox{-moz-border-radius: 10px; border-top: 1px solid #CACACA;}
#wrapper{width: 700px;}
#main_menu div{width: 660px;}
#main_menu #main_menu_next{left: 685px;}
.sf_admin_object_actions_list li{opacity: 1; filter : alpha(opacity=100); -moz-opacity : 1; -ms-filter: "alpha(opacity=100)";}
/* .sf_admin_form_row label{vertical-align:top;} */
table.jqTransformTextarea td#jqTransformTextarea-mm textarea {width: 595px;}

/* FILTERS */
.sf_admin_filter_field_fiche_date .jqTransformInputWrapper{width:80px !important;display:inline-block;margin:0 5px 0 0;}
.sf_admin_filter_field_fiche_date .jqTransformInputWrapper input{cursor:pointer !important;}


/* 
.contentbox div.sf_admin_filter_field_name, .contentbox div.sf_admin_filter_field_code
{float:left;width:250px;clear:none;margin:0 10px 0 0;}
.contentbox div.sf_admin_filter_field_code{width:300px;}

.contentbox div.sf_admin_filter_field_name label, 
.contentbox div.sf_admin_filter_field_code label
{float:left;width:auto;text-align:right;padding-right:0 !important;}

.contentbox div.sf_admin_filter_field_name .jqTransformInputWrapper, 
.contentbox div.sf_admin_filter_field_code .jqTransformInputWrapper
{float:left;width:200px !important;background:none;}

.contentbox div.sf_admin_filter_field_name .jqTransformInputWrapper .jqTransformInputInner, 
.contentbox div.sf_admin_filter_field_code .jqTransformInputWrapper .jqTransformInputInner
{background:none;}

.contentbox div.sf_admin_filter_field_name .jqTransformInputWrapper .jqTransformInputInner div, 
.contentbox div.sf_admin_filter_field_code .jqTransformInputWrapper .jqTransformInputInner div
{height:auto;}

.contentbox div.sf_admin_filter_field_name .jqTransformInputWrapper .jqTransformInputInner div input, 
.contentbox div.sf_admin_filter_field_code .jqTransformInputWrapper .jqTransformInputInner div input
{height:1.6em;line-height:1.6em;border:1px solid #CCC;}

.contentbox div.sf_admin_filter_field_is_active{float:left;width:210px;clear:none;margin:0;}
.sf_admin_filter_field_created_at{clear:both;}
.sf_admin_filter_field_deleted_at{margin:0 0 15px 0;} 
.contentbox, .contentbox  form{width:636px;}
.contentbox form>a, .contentbox form>input{float:left;}
#category_filters_code_is_empty{float:left;}
*/


/* .sml .sf_admin_form_row{float: left; width: 25%; clear: none !important;} */